@page "/"
@namespace Pery.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using System.Globalization
@using Microsoft.AspNetCore.Localization
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pery</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    @*
        <link href="Pery.styles.css" rel="stylesheet" />

    *@
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>

        <a class="dismiss">🗙</a>
    </div>
    <!-- js einbinden -->
    <script src="_framework/blazor.server.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {

            var liCount = $('.slider li').length;
            var ulWidth = (liCount * 100);
            var liWidth = (100 / liCount);
            var leftIncrement = (ulWidth / liCount);


            $('.slider').height($('.slider li img').height());
            //$('.slider').height('300px');

            $('.slider img').on('load', function () {
                $('.loader').fadeOut();
                $('.slider').height($(this).height());
            })

            $(window).resize(function () {
                $('.slider').css('height', $('.slider li img').height());
            });

            $('.slider ul').css('width', ulWidth + '%');
            $('.slider li').css('width', liWidth + '%');

            $('.slider').append(function () {
                $(this).append('<div class="navigator"></div>');
                $(this).prepend('<span class="prev">Prev</span><span class="next">Next</span>');
                //$(this).append('<div class="autoPlay"><input id="chkBox" type="checkbox" class="chkbox" /><label for="chkBox">Auto Play?</label></div>');

                $(this).find('li').each(function () {
                    $('.navigator').append('<span></span>');
                });
            });

            $('.slider').css('height', $('.slider li img').height());

            $('.navigator span:first-child').addClass('active');


            if (liCount > 2) {
                $('.slider ul').css('margin-left', -leftIncrement + '%');
                $('.slider ul li:last-child').prependTo('.slider ul');
            } else if (liCount == 1) {
                $('.slider span').css('display', 'none');
                $('.autoPlay').css('display', 'none');
            } else if (liCount == 2) {
                $('.slider .prev').css('display', 'none');
            }

            function moveLeft() {
                $('.slider ul').animate({
                    left: -leftIncrement + '%'
                }, 500, function () {
                    $('.slider ul li:first-child').appendTo('.slider ul');
                    $('.slider ul').css('left', '');

                    if ($('.navigator span').hasClass('active')) {

                        if ($('.navigator span.active').is(':last-child')) {
                            $('span.active').removeClass('active');
                            $('.navigator span:first-child').addClass('active');
                        } else {
                            $('span.active').next().addClass('active');
                            $('span.active').prev().removeClass('active');
                        }
                    }
                });
            }

            function moveRight() {
                $('.slider ul').animate({
                    left: leftIncrement + '%'
                }, 500, function () {
                    $('.slider ul li:last-child').prependTo('.slider ul');
                    $('.slider ul').css('left', '');

                    if ($('.navigator span').hasClass('active')) {

                        if ($('.navigator span.active').is(':first-child')) {
                            $('span.active').removeClass('active');
                            $('.navigator span:last-child').addClass('active');
                        } else {
                            $('span.active').prev().addClass('active');
                            $('span.active').next().removeClass('active');
                        }
                    }
                });
            }


            // $('.chkbox').click(function() {
            // 	if($('.chkbox').is(':checked')) {
            // 		$('.slider > span').hide();
            // 		$(this).next('label').text('Auto Playing')
            // 		invertalValue = setInterval(function() {
            // 			moveLeft();
            // 		}, 5000);
            // 	} else {
            // 		$(this).next('label').text('Auto Play?')
            // 		if(liCount == 2) {
            // 			$('.slider .next').show();
            // 		} else if(liCount > 2){
            // 			$('.slider > span').show();
            // 		}
            // 		clearInterval(invertalValue);
            // 	}
            // });

            if (liCount > 1) {
                invertalValue = setInterval(function () {
                    moveLeft();
                }, 5000);
            }

            $('.prev').click(function () {
                moveRight();
            });

            $('.next').click(function () {
                moveLeft();
            });

          //  showHeader();
            //setTimeout(function () {
            //    showContent();
            //}, 500);


        });
        //function showHeader() {
        //    setTimeout(function () {
        //        $('.indexcont').animate({ opacity: 1 }, 500);
        //    }, 500);

        //    //var $newdiv1 = $("<div class='index-backgroundimage'></div>"),
        //    //    newdiv2 = document.createElement("div"),
        //    //    existingdiv1 = document.getElementsByClassName("index-pery-innder-content");
        //    debugger;
        //    $("#TheIndexContent").prepend("<div class='index-backgroundimage'></div>");
        //    $('.index-backgroundimage').animate({ opacity: 1 }, 2000);

        //    //setTimeout(function () {
        //    //    $('.index-backgroundimage').animate({ opacity: 1 }, 2000);
        //    //}, 2000);
        //}
            //function showContent() {
            //    debugger;
            //    setTimeout(function () {
            //        showBackground();
            //    }, 500);
            //}
            //function showBackground() {
            //    $('.index-backgroundimage').animate({ opacity: 1 }, 1500);
            //}




    </script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

@{
    this.HttpContext.Response.Cookies.Append(
        CookieRequestCultureProvider.DefaultCookieName,
        CookieRequestCultureProvider.MakeCookieValue(
            new RequestCulture(
                CultureInfo.CurrentCulture,
                CultureInfo.CurrentUICulture)));
}
