@page "/products/{Id:int}"
@inject NavigationManager NavigationManager
@using Pery.Data.Model;

@inject Pery.Data.Servics.AppPeryService CS
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> localizer


<div class="center">
    <div class="slider">
        <ul>
            @foreach (Product product in productList)
            {
                <li>
                    <img src="@product.ImagesSrc" />
                </li>
            }
        </ul>
    </div>
</div>



@code {
    [Parameter]
    public int Id { get; set; }

    private List<Product> productList;

    protected override async Task OnInitializedAsync()
    {
        productList = await CS.GetProductAsync(Id);
    }
}
