@inherits LayoutComponentBase
<div class="index-pery-content">

    <div class="index-pery-innder-content">
   
        <div class="container">
          
            @Body
        </div>
    </div>
</div>

